<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/Kanow/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="filter">
	<!-- h2><f:translate key="filter" /></h2 -->
	<f:form object="{demand}" controller="Operation" action="search" name="demand">
		
		<label for="begin"><f:translate key="filter.labelYear" /></label>
		<f:form.select prependOptionLabel="{f:translate(key:'filter.selectYear.first')}" prependOptionValue="0" id="begin" name="begin" property="begin" options="{begin}" optionValueField="year" optionLabelField="year" />
		
		<f:form.select prependOptionLabel="{f:translate(key:'filter.selectType.first')}" prependOptionValue="0" id="type" name="type" property="type" options="{types}" optionValueField="uid" optionLabelField="title" />
		
		<f:form.submit class="button" value="{f:translate(key:'filter.submit')}" />
	</f:form>
	
	<f:link.action action="list" class="reset"><f:translate key="filter.reset" /></f:link.action>
</div>	