<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:link.action action="show" arguments="{operation:operation}" pageUid="{settings.operationSinglePid}">
	<div class="meta">
		<f:if condition="{operation.begin}">
		<span>
			<f:if condition="{operation.begin}">
				{operation.begin -> f:format.date(format:'d.m.Y, H:i \U\h\r')}
			</f:if>
		</span>
		</f:if>
		<f:if condition="{operation.assignedType}"> |
			<span><f:translate key="tx_operations_domain_model_operation.type" />: {operation.assignedType.title}</span>
		</f:if>
		<f:if condition="{operation.location}"> |
			<span><f:translate key="tx_operations_domain_model_operation.location" />: {operation.location}</span>
		</f:if>
        <f:if condition="{operation.category}"> |
            <f:for as="singleCategory" each="{operation.category}" iteration="categoryIterator">
                <span>{singleCategory.title}{f:if(condition: categoryIterator.isLast,else:', ')}</span>
            </f:for>
        </f:if>
	</div>

	<div class="left">
		<h2>
			<span class="number">[{operation.number}]</span>
				{operation.title}
		</h2>
		<f:if condition="{operation.teaser}">
			<f:then>
				<div class="teaser">
					<f:format.crop maxCharacters="{settings.cropTeaser}" append="…">{operation.teaser}</f:format.crop>
				</div>
			</f:then>
			<f:else>
				<f:if condition="{operation.report}">
					<div class="teaser">
						<f:format.crop maxCharacters="{settings.cropTeaser}" append="…"><f:format.stripTags>{operation.report}</f:format.stripTags></f:format.crop>
					</div>
				</f:if>
			</f:else>
		</f:if>
	</div>
	<f:if condition="{settings.showMediaInList}">
		<f:if condition="{operation.firstMedia}">
			<figure class="list-media">
				<f:media file="{operation.firstMedia}" width="{settings.listMediaWidth}" height="{settings.listMediaHeight}" />
			</figure>
		</f:if>
	</f:if>
</f:link.action>
