<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{f:count(subject:operations)} <=  {settings.itemsPerPage}">
    <f:then>
       <f:render partial="List/ListItems" arguments="{operations:operations}" />
    </f:then>
    <f:else>
        <f:widget.paginate objects="{operations}" as="paginatedOperations" configuration="{addQueryStringMethod:'GET,POST',itemsPerPage: settings.itemsPerPage, insertAbove: settings.paginate.insertAbove, insertBelow: settings.paginate.insertBelow, maximumNumberOfLinks: settings.paginate.maxNumberOfLinks}">
            <f:render partial="List/ListItems" arguments="{operations:paginatedOperations}" />
        </f:widget.paginate>
    </f:else>
</f:if>
