<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="mapIconSvg" value="{f:uri.resource(path: settings.map.iconSvg, absolute: 1)}" />
<div id="leaflet-map" class="leaflet-map" data-map="{f:format.json(
    forceObject: false,
    value: {
        mapIcon: mapIconSvg,
        mapIconRetina: mapIconSvg
    }
)}"></div>
<ul class="list-data" style="display:none;">
    <f:for each="{operations}" as="operation">
        <f:variable name="uri" value="{f:uri.action(action:'show',arguments:'{operation:operation}',pageUid:settings.operationSinglePid, absolute: 1)}" />
        <li class="list-item" data-marker="{f:format.json(value:{
            title:operation.title,
            uri:uri,
            lat: operation.latitude,
            lng: operation.longitude,
            teaser: operation.teaser
		})}">{operation.title}</li>
    </f:for>
</ul>

<noscript><p><f:translate key="map.noscript">Please activate javascript for map</f:translate></p></noscript>
