<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="pagination-wrap">
    <p><f:translate key="pagination.visibleOperations" />: {pagination.startRecordNumber} - {pagination.endRecordNumber}</p>
    <ul class="pagination">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="pagination-first">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: 1})}" title="pagination.first">{f:translate(key: 'pagination.first')}</a>
                </li>
                <li class="pagination-previous">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.previousPageNumber})}" title="pagination.previous">{f:translate(key: 'pagination.previous')}</a>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-first disabled">
                        <span>{f:translate(key: 'pagination.first')}</span>
                </li>
                <li class="pagination-previous disabled">
                        <span>{f:translate(key: 'pagination.previous')}</span>
                </li>
            </f:else>
        </f:if>

        <f:for each="{pagination.pages}" as="page">
                <f:if condition="{page} == {pagination.currentPageNumber}">
                    <f:then><li class="current"><span>{page}</span></li></f:then>
                    <f:else><li><f:link.action action="search" arguments="{demand:demand, currentPage: page}">{page}</f:link.action></li></f:else>
                </f:if>

        </f:for>

        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="pagination-next">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.nextPageNumber})}" title="pagination.next">{f:translate(key: 'pagination.next')}</a>
                </li>
                <li class="pagination-last">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.lastPageNumber})}" title="pagination.last">{f:translate(key: 'pagination.last')}</a>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-next disabled">
                    <span>{f:translate(key: 'pagination.next')}</span>
                </li>
                <li class="pagination-last disabled">
                    <span>{f:translate(key: 'pagination.last')}</span>
                </li>
            </f:else>
        </f:if>
    </ul>
</nav>



</html>
