<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="pagination-wrap">
    <p>Datensätze: {pagination.startRecordNumber} - {pagination.endRecordNumber}</p>
    <ul class="pagination">
        <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
            <f:then>
                <li class="pagination-first">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: 1})}" title="pagination.first">first</a>
                </li>
                <li class="pagination-previous">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.previousPageNumber})}" title="pagination.previous">
                        previous
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-first disabled">
                        <span>
                            first
                        </span>
                </li>
                <li class="pagination-previous disabled">
                        <span>
                            previous
                        </span>
                </li>
            </f:else>
        </f:if>

        <f:for each="{pagination.pages}" as="page">
                <f:if condition="{page} == {pagination.currentPageNumber}">
                    <f:then><li class="current"><span>{page}</span></li></f:then>
                    <f:else><li><f:link.action action="search" arguments="{demand:demand, currentPage: page}">{page}</f:link.action></li></f:else>
                </f:if>

        </f:for>

        <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
            <f:then>
                <li class="pagination-next">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.nextPageNumber})}" title="pagination.next">
                        next
                    </a>
                </li>
                <li class="pagination-last">
                    <a href="{f:uri.action(action:'search', arguments:{demand:demand, currentPage: pagination.lastPageNumber})}" title="pagination.last">
                        last
                    </a>
                </li>
            </f:then>
            <f:else>
                <li class="pagination-next disabled">
                        <span>
                            next
                        </span>
                </li>
                <li class="pagination-last disabled">
                        <span>
                            last
                        </span>
                </li>
            </f:else>
        </f:if>
    </ul>
</nav>



</html>
