<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{vehicle.description}">
	<div class="description layer">
		<h2><f:translate key="tx_operations_domain_model_vehicle.description" /></h2>
		<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{vehicle.description}</f:format.html>
	</div>
	
	<f:if condition="{vehicle.media}">
		<div class="media layer">
		<!--	<h2><f:translate key="tx_operations_domain_model_operation.media" /></h2> -->
			<f:for each="{vehicle.allMedia}" as="media">
				<figure>
					<f:media file="{media}" width="{settings.singleMediaWidth}" height="{settings.singleMediaHeight}" />
					<f:if condition="{media.originalResource.description}">
						<figcaption>{media.originalResource.description}</figcaption>
					</f:if>
				</figure>
			</f:for>
		</div>
	</f:if>
	
</f:if>

