<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/KN/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<div class="operations list">
		<h1>{f:if(condition:settings.showMap,then:'{f:translate(key:"list.mapHeader")}',else:'{f:translate(key:"list.header")}')}</h1>
		<f:flashMessages />

				<f:if condition="{settings.hideFilter}">
					<f:else>
						<f:render partial="List/Form" arguments="{demand:demand,begin:begin,types:types}" />
					</f:else>
				</f:if>

		
		<f:if condition="{operations}">
		<f:then>
			<f:if condition="{settings.showMap}">
				<f:then>
				<div class="countResult">
					<span>{f:count(subject:operations)} {f:if(condition:'{f:count(subject:operations)} == 1',then:'{f:translate(key:"singleOperationFound")}',else:'{f:translate(key:"operationsFound")}')}</span>
				</div>
					<f:format.raw><o:maplist objects="{operations}" as="operation" settings="{settings}">{operation.begin -> f:format.date(format:'d.m.Y, H:i \U\h\r')}<br /><f:link.action action="show" arguments="{operation:operation}">{operation.title}</f:link.action></o:maplist></f:format.raw>
					<div id="map-canvas" class="map list"></div>
					<noscript><p><f:translate key="map.noscript">Please activate javascript for map</f:translate></p></noscript>
				</f:then>
				<f:else>
					<f:then>
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<div class="countResult">
									<span>{f:count(subject:operations)} {f:if(condition:'{f:count(subject:operations)} == 1',then:'{f:translate(key:"singleOperationFound")}',else:'{f:translate(key:"operationsFound")}')}</span>
								</div>
					
								<ul>
									<f:for each="{operations}" as="operation" iteration="oIterator">
										<li class="clearfix{f:if(condition:'{oIterator.isOdd}',then:' odd')}">
											<f:render partial="List/Item" arguments="{operation: operation, settings:settings}" />
										</li>
									</f:for>
								</ul>
							</f:then>
							<f:else>
								<f:if condition="{f:count(subject:operations)} <=  {settings.itemsPerPage}">
									<f:then>
										<div class="countResult">
											<span>{f:count(subject:operations)} {f:if(condition:'{f:count(subject:operations)} == 1',then:'{f:translate(key:"singleOperationFound")}',else:'{f:translate(key:"operationsFound")}')}</span>
										</div>
										<ul>
											<f:for each="{operations}" as="operation" iteration="oIterator">
												<li class="clearfix{f:if(condition:'{oIterator.isOdd}',then:' odd')}">
													<f:render partial="List/Item" arguments="{operation: operation, settings:settings}" />
												</li>
											</f:for>
										</ul>
									</f:then>
									<f:else>
										<div class="countResult">
											<span>{f:count(subject:operations)} {f:if(condition:'{f:count(subject:operations)} == 1',then:'{f:translate(key:"singleOperationFound")}',else:'{f:translate(key:"operationsFound")}')}</span>
										</div>
											<f:widget.paginate objects="{operations}" as="paginatedOperations" configuration="{itemsPerPage: settings.itemsPerPage, insertAbove: settings.paginate.insertAbove, insertBelow: settings.paginate.insertBelow, maximumNumberOfLinks: settings.paginate.maxNumberOfLinks}">
											<ul>
												<f:for each="{paginatedOperations}" as="operation" iteration="oIterator">
													<li class="clearfix{f:if(condition:'{oIterator.isOdd}',then:' odd')}">
														<f:render partial="List/Item" arguments="{operation: operation, settings:settings}" />
													</li>
												</f:for>
											</ul>
										</f:widget.paginate>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</f:then>
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<p><f:translate key="emptyResult" /></p>
		</f:else>
		</f:if>
	</div>
</f:section>
