<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:o="http://typo3.org/ns/KN/Operations/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>
    <div class="operations stats">

        <h1>Statistiken</h1>
        <f:if condition="{operationsGroupedByYearAndType}">
            <f:then>
                <table>
                    <thead><th>Title</th><f:for each="{years}" as="year"><th>{year}</th></f:for></thead>
                    <tbody>
                        <f:for each="{operationsGroupedByYearAndType}" as="item">
                            <tr>
                                <td>{item.title}</td><f:for each="{item.years}" as="year"><td>{year}</td></f:for>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
                <div class="chart-container">
                    <canvas id="myChart"></canvas>
                </div>
            </f:then>
            <f:else>
                <p>
                    <f:translate key="noData"/>
                </p>
            </f:else>
        </f:if>
    </div>
</f:section>
<f:section name="FooterAssets">
    <script src="{f:uri.resource(path: 'Js/Chart.bundle.js')}"></script>
    <script src="{f:uri.resource(path: 'Js/MyChart.js')}"></script>
</f:section>
