<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:if condition="{resource.description}">
	<div class="description layer">
		<h2><f:translate key="tx_operations_domain_model_resource.description" /></h2>
		<f:format.html parseFuncTSPath="lib.parseFunc_RTE">{resource.description}</f:format.html>
	</div>
</f:if>

	<f:if condition="{resource.media}">
		<div class="media layer">
		<!--	<h2><f:translate key="tx_operations_domain_model_resources.media" /></h2> -->
			<f:for each="{resource.allMedia}" as="media">
				<figure>
					<f:media file="{media}" width="{settings.singleMediaWidth}" height="{settings.singleMediaHeight}" />
					<f:if condition="{media.originalResource.description}">
						<figcaption>{media.originalResource.description}</figcaption>
					</f:if>
				</figure>
			</f:for>
		</div>
	</f:if>
