<f:layout name="Default" />

<f:section name="main">

	<div class="operations list resources">
<h1>Listing for Resources</h1>

<f:flashMessages />
<ul class="clearfix">
	<f:for each="{resources}" as="resource" iteration="oIterator">
		<li class="clearfix {f:if(condition:'{oIterator.isOdd}',then:' odd')}">
			<f:link.action action="show" arguments="{resources:resource,backTo:'vehicles'}" class="clearfix">
				<div class="left">{resource.title}<f:if condition="{resource.short}"><span class="short"> ({resource.short})</span></f:if></div>
				<f:if condition="{resource.image}">
				  <div class="imgBox"><f:image src="{resource.firstImage.uid}" treatIdAsReference="TRUE" alt="{resource.firstImage.originalResource.alternative}" width="{settings.listImgWidthResources}" height="{settings.listImgHeightResources}" /></div>
					<div class="right">Bild</div>
				</f:if>
			</f:link.action>
		</li>
	</f:for>
</ul>
</div>
</f:section>
