<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<div class="operations withoutMeta single clearfix">
	<h1 class="csc-firstHeader"><span class="number">{resources.short}</span>{resources.title}</h1>
	<f:render partial="Resources/Properties" arguments="{resources:resources}" />
	
	<a class="backToList" href="javascript:history.back();"><f:translate key="backToResources">back to resources</f:translate></a>
	
	<!--f:link.action action="show" controller="operation" pageUid="15" arguments="{operation:operation}" class="backToList"><f:translate key="backToOperation">back to operation</f:translate></f:link.action-->
</div>
</f:section>