<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/KN/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<div class="operations list vehicles">
	<ul class="clearfix">
		<f:for each="{vehicles}" as="vehicle" iteration="oIterator">
			<li class="clearfix {f:if(condition:'{oIterator.isOdd}',then:' odd')}">
				<f:link.action action="show" pageUid="{settings.vehicleSinglePid}" arguments="{vehicle:vehicle}" class="clearfix">
					<div class="left">{vehicle.title}<f:if condition="{vehicle.short}"><span class="short"> ({vehicle.short})</span></f:if></div>
					<f:if condition="{vehicle.image}">
					  <div class="imgBox"><f:image src="{vehicle.firstImage.uid}" treatIdAsReference="TRUE" alt="{vehicle.firstImage.originalResource.alternative}" width="{settings.listImgWidthVehicle}" height="{settings.listImgHeightVehicle}" /></div>
						<div class="right">Bild</div>
					</f:if>
				</f:link.action>
			</li>
		</f:for>
		</ul>
	</div>
</f:section>
