<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/Kanow/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<div class="list vehicles">
	<ul class="clearfix">
		<f:for each="{vehicles}" as="vehicle" iteration="oIterator">
			<li class="clearfix {f:if(condition:'{oIterator.isOdd}',then:' odd')}">
				<f:link.action action="show" pageUid="{settings.vehicleSinglePid}" arguments="{vehicle:vehicle}" class="clearfix">
					<div class="left">{vehicle.title}<f:if condition="{vehicle.short}"><span class="short"> ({vehicle.short})</span></f:if></div>
                    <f:if condition="{vehicle.firstMedia}">
                        <figure class="list-media">
                            <f:media file="{vehicle.firstMedia}" width="{settings.listImgWidthVehicle}" height="{settings.listImgHeightVehicle}" />
                        </figure>
                    </f:if>
				</f:link.action>
			</li>
		</f:for>
		</ul>
	</div>
</f:section>
