<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/Kanow/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<div class="vehicles__list">
	<ul class="clearfix list-items">
		<f:for each="{vehicles}" as="vehicle" iteration="oIterator">
			<li class="clearfix {f:if(condition:'{oIterator.isOdd}',then:' odd')} vehicles__list--item">
                <f:if condition="{vehicle.link}">
                    <f:then>
                        <f:link.typolink parameter="{vehicle.link}">
                            <f:render section="content" arguments="{vehicle:vehicle}" />
                        </f:link.typolink>
                    </f:then>
                    <f:else>
                        <f:link.action action="show" pageUid="{settings.vehicleSinglePid}" arguments="{vehicle:vehicle}" class="clearfix">
                            <f:render section="content" arguments="{vehicle:vehicle}" />
                        </f:link.action>
                    </f:else>
                </f:if>
			</li>
		</f:for>
		</ul>
	</div>
</f:section>

<f:section name="content">
    <figure class="vehicles__list--media list-media">
        <f:if condition="{vehicle.firstMedia}">
            <f:then>
                <f:media file="{vehicle.firstMedia}" width="{settings.list.vehicles.media.width}" height="{settings.list.vehicles.media.height}" />
            </f:then>
            <f:else if="{settings.list.vehicles.defaultImage.path}">
                <f:image src="{settings.list.vehicles.defaultImage.path}" maxWidth="50" title="{f:translate(key:'list.vehicles.defaultImage.title')}" />
                <figcaption>{settings.list.vehicles.defaultImage.attribution}</figcaption>
            </f:else>
        </f:if>
    </figure>
    <div class="vehicles__list--title">
        <h3>{vehicle.title}<f:if condition="{vehicle.short}"><span class="short"> ({vehicle.short})</span></f:if></h3>
        <p><f:format.crop maxCharacters="35" respectWordBoundaries="1"><f:format.stripTags>{vehicle.description}</f:format.stripTags></f:format.crop></p>
    </div>
</f:section>
