<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:o="http://typo3.org/ns/KN/Operations/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
	<f:flashMessages />
	<div class="operations list resources">
		<ul class="clearfix">
			<f:for each="{resources}" as="resource" iteration="oIterator">
				<li class="clearfix {f:if(condition:'{oIterator.isOdd}',then:' odd')}">
					<f:link.action action="show" pageUid="{settings.resourceSinglePid}" arguments="{resource:resource}" class="clearfix">
						<div class="left">{resource.title}<f:if condition="{resource.short}"><span class="short"> ({resource.short})</span></f:if></div>
                        <f:if condition="{resource.firstMedia}">
                            <div class="list-media">
                                <f:media file="{resource.firstMedia}" width="{settings.listImgWidthResources}" height="{settings.listImgHeightResources}" />
                            </div>
                        </f:if>
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</div>
</f:section>
