/* =========== operations ============= */
.clearfix:after {content:'.';height:0;line-height:0;font-size:0;visibility:hidden;display:block;clear:both;}

.right {float:right;}
.single .right {width:30%;}

.single .number {padding:0 10px 0 0;}
.single .meta {padding:10px;margin-bottom:20px;}
/*.single .meta{float:right;max-width:30%;width:205px;}*/
.single .images {/*clear:right;float:right;width:225px;*/min-height:184px;margin:60px 0;}
.single h2 {font-size:1em;font-weight:normal;letter-spacing:1px;margin-bottom:10px;}
.single .slides li {display:inline-block;}
.backToList {clear:left;display:inline-block;margin:10px 0;padding:3px 5px 2px;border:1px solid #000;border-radius:3px;background:#DA2121;text-decoration:none;box-shadow:1px 1px 3px #FFA1A1;color:#fff;float:left;}
.backToList:active {margin-top:11px;margin-left:1px;}

.meta p {margin-bottom:5px;}
.operations.list h1 {margin-bottom:40px;}
.list ul, .images ul, .layer ul {list-style:none;}
.list li {min-height:65px;padding:10px 2% 10px;position:relative;}
.list .img {position:absolute;top:10px;right:10px;max-width:20%;}
.list .left, .list .meta {padding-right:20%;}
.list li h2 {margin:3px 0;}

.pageBrowser {margin:20px 0;}
.list .paginate li {min-height:10px;margin:2px 0;border-width:1px;border-style:solid;display:inline-block;padding:0;}
.paginate a, .paginate li span {padding: 1px 5px 0;display:inline-block;}
.list li {clear:both;}
.list li a {text-decoration:none;}

.filter {margin:0 0 20px;float:right;}
.filter .reset {margin:10px 0;display:inline-block;}
.filter label {display:block;}

.layer {margin-bottom:20px;width:65%;float:left;}
.layer.report {border-width:0 0 2px;border-style:solid;padding-bottom:10px;}
.layer.report p {padding-bottom:20px;}
.layer.report li {margin-bottom:0;}
/* controls slider */
.single .images {position:relative;}
.single .images img {display:block;}
.single .images .flex-direction-nav {position:absolute;top:-20px;}
.single .images .flex-direction-nav li a {opacity:0.6;left:70px;right:auto;width:0;height:0;border-width:0 40px 0;border-style:solid;}
.single .images .flex-direction-nav li a:hover {opacity:1;}
.single .images .flex-prev {border-top-width:15px !important;top:233px;}
.single .images .flex-next {border-bottom-width:15px !important;top:12px;}
.single .images .flex-prev, .single .images .flex-next {border-color:#d00;} 
.single .images .flex-direction-nav li a {border-left-color:transparent;border-right-color:transparent;}
.single.withoutMeta .images {clear:none;margin-top:30px;width:225px;float:right;}
.single.withoutMeta .description {float:left;}
.withoutMeta .backLink {clear:left;display:block;}


/* map canvas */
.map {height:260px;/*width:225px;clear:right;float:right;*/}
.map img {max-width:none;}
.gm-style-iw, .gm-style-iw > div {overflow:hidden !important;line-height:1.3em;}
/* list view */
.map.list {width:100%;height:450px;border:1px solid #f00;clear:both;}

/* list for vehicles and resources */
/*.list.vehicles li {position:relative;width:30%;box-sizing:border-box;border:1px solid red;margin:1%;padding:0;min-height:100px;float:left;clear:none;}
.list.vehicles .title {position:absolute;top:5px;left:5px;right:5px;}*/

.list li img {height:auto;max-width:100%;display:block;}

.list.resources li, .list.vehicles li {min-height:initial;position:relative;}
.list.resources li a, .list.vehicles li a {display:block;}
.list.resources li .imgBox, .list.vehicles li .imgBox {position:absolute;right:20px;top:10px;/*display:none;*/opacity:0;z-index:100;max-width:25%;}
.list.resources li:hover .imgBox, .list.vehicles li:hover .imgBox {/*display:block;*/opacity:1;}
.list.resources li .left, .list.vehicles li .left {float:left;}
.list.resources li .right, .list.vehicles li .right {float:right;max-width:20%;margin-right:20px;}

/* colors */
.list.resources .title {background:#fff;}

/* effects */
.list.resources li .imgBox {-webkit-transition:all 0.3s 0.2s;-moz-transition:all 0.3s 0.2s;-o-transition:all 0.3s 0.2s;transition:all 0.3s 0.2s;}